
.tmp
.vscode

__pycache__

venv
bin
work
ipsw

Jailbreak/fstab
Jailbreak/daibutsu
Jailbreak/evasi0n
Jailbreak/misc
Jailbreak/untether*.tar
Jailbreak/p*.tar

*.ipsw
*.img3
*.dmg
*.dfu
*.decrypted
*.patched
*.packed
*.pyc

Keys.json
Restore.json

asr
restored_external
