<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>FilesystemPatches</key>
        <dict/>
            <key>FirmwarePatches</key>
            <dict>
            <key>KernelCache</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>4</integer>
            </dict>
            <key>Restore Ramdisk</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
            <key>iBSS</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
            <key>iBEC</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
            <key>iBoot</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
            <key>LLB</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>IsPlain</key>
                <true/>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
            <key>AppleLogo</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
            <key>RecoveryMode</key>
            <dict>
                <key>File</key>
                <string></string>
                <key>IV</key>
                <string></string>
                <key>Key</key>
                <string></string>
                <key>Patch</key>
                <string></string>
                <key>TypeFlag</key>
                <integer>8</integer>
            </dict>
        </dict>
        <key>RamdiskPatches</key>
        <dict>
            <key>asr</key>
            <dict>
                <key>File</key>
                <string>usr/sbin/asr</string>
                <key>Patch</key>
                <string>asr.patch</string>
            </dict>
            <key>restored_external</key>
            <dict>
                <key>File</key>
                <string>usr/local/bin/restored_external</string>
                <key>Patch</key>
                <string>restored_external.patch</string>
            </dict>
        </dict>
        <key>RamdiskMountVolume</key>
        <string>ramdisk</string>
	    <key>RootFilesystem</key>
	    <string></string>
	    <key>RootFilesystemSize</key>
	    <integer>0</integer>
	    <key>RootFilesystemKey</key>
	    <string></string>
	    <key>RootFilesystemMountVolume</key>
	    <string></string>
        <key>SHA1</key>
        <string></string>
        <key>Filename</key>
        <string></string>
        <key>Name</key>
        <string></string>
        <key>Platform</key>
        <integer>1</integer>
        <key>SubPlatform</key>
        <integer>5</integer>
    </dict>
</plist>
